:root {
  --green-text: #11ab51;
  --pink-text: #c92a9f;
  --yellow-text: #dbdb25;
  --blue-text: #29bdc2;
  --red-text: red;
}

body, input {
  font-family: 'Roboto Mono', monospace;
  background-color: black;
  font-size: 1rem;
  color: #ffffff;
  caret-color: var(--yellow-text);
}

.green-text, .pink-text, .yellow-text, .blue-text, .red-text {
  font-size: 1rem;
}

.green-text {
  color: var(--green-text);
}

.pink-text {
  color: var(--pink-text);
}

.yellow-text {
  color: var(--yellow-text);
}

.blue-text {
  color: var(--blue-text);
}

.red-text {
  color: var(--red-text);
}

.p-0 {
  padding: 0;
}

.command-input {
  border: none;
  background-color: black;
  color: #ffffff;
  font-size: 1rem;
}

.command-input:focus {
  outline: none;
}

.skills-main {
  display: flex;
  width: 50%;
  justify-content: space-between;
}